<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400" rel="stylesheet">
    {% block head %}{% endblock head %}
</head>
<body>
    <nav class="site-nav border-bottom" aria-label="Основная навигация">
        <div class="site-nav__inner">
            <a href="{% url 'info:info' %}" class="button py2 button-transparent nav-button caps lbtl site-nav__brand">Kvant</a>
            <ul class="site-nav__links list-reset m0 nav-collapse">
                <li class="inline-block m0 pna">
                    <a href="{% url 'info:news' %}" class="button button-transparent py2 h6 nav-button caps rbt">Новости</a>
                </li>
                <li class="inline-block m0 pna">
                    <a href="{% url 'info:projects' %}" class="button button-transparent py2 h6 nav-button caps rbt">Проекты</a>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        {% block content %}{% endblock content %}
    </main>

    <footer class="mb2 mt2 footer"></footer>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
