DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=
DJANGO_DB_ENGINE=postgres
DJANGO_DB_NAME=portfolio
DJANGO_DB_USER=postgres
DJANGO_DB_PASSWORD=postgres
DJANGO_DB_HOST=127.0.0.1
DJANGO_DB_PORT=5444
DJANGO_LANGUAGE_CODE=ru-ru
DJANGO_TIME_ZONE=Europe/Moscow
DJANGO_LOG_LEVEL=DEBUG
DJANGO_SECURE_SSL_REDIRECT=false
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_SESSION_COOKIE_SAMESITE=Lax
DJANGO_CSRF_COOKIE_SAMESITE=Lax
DJANGO_SECURE_REFERRER_POLICY=same-origin
DJANGO_SECURE_COOP=same-origin
